html{
    width: auto;
}
.nav{
    background-color:orange;
    padding: 5%;
    
}
 .header{
    color: white;
    font-weight: 900;
    text-align: center;
}
.logo img{
    float: left;
    border-radius: 50%;
}
.center1 {
    padding:1%;
    padding-left: 10%; 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .center1 p{
    text-align: center;
    font-weight: 700;
  }
   #pizza-head{
      text-align: center;
  }