html{
    width: auto;
}
.nav{
    background-color:orange;
    padding: 5%;
    
}
 .header{
    color: white;
    font-weight: 900;
    text-align: center;
}
.logo img{
    float: left;
    border-radius: 50%;
}

 .first-row{
     display: flex;
     justify-content: space-evenly;
     padding-top: 2%;
 }
 .second-row{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
}

   #pizza-head{
      text-align: center;
  }
  .order h5{
      text-align: center;
      font-weight: 900;
  }
  #pizza-number{
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      
  }
  .selectItems{
      width: 50%;
      margin-left: auto;
      margin-right: auto;
     
  }
 