.nav{
    background-color:orange;
    padding: 5%;
    
}
 .header{
    color: white;
    font-weight: 900;
    text-align: center;
}
.logo img{
    float: left;
    border-radius: 50%;
}

/* pizza sets section */
#pizza-head{
    text-align: center;
    padding-top: 5%;
    font-weight: 900;
}
 .first-row{
     display: flex;
     justify-content: space-evenly;
     padding-top: 2%;
 }
 .second-row{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
}

/* form section */
.form-inputs{
    padding-top: 2%;
    padding-bottom: 1%;
}
.form1 h5{
      text-align: center;
      font-weight: 900;
      padding-top: 3%;
  }
  .form1{
    background-color: rgb(202, 141, 28);
}
  input#pizza-number{
     text-align: center;
     width: 50%;
     height: 10%;
     margin-bottom: 3%;
     padding-left: 10%;
     box-sizing: border-box;
  }
  .selectItems{
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }
  .form1{
      text-align: center;
  }
  .form2{
    padding-top: 3%;
    background-color:white;
    width: fit-content;

}
.form2 input{
    display: none;
}
form.form-buttons{
    text-align: center;
    

    

 }
 button{
     background-color: orange;
 }
  .footer{
    width: auto;
    padding: 5%;
    background-color: orange;
    text-align: center;
      
  }
  .fa {
    padding: 25px;
    text-decoration: none;
    color: black;
}

  
  

  
 
 